<section class="lets_get_you_strated lets-get-you-strted">
    <div class="container">
      <div class="lets-get-you-strted--content">
        <div>
          <h2 class="lets-get-you-strted--title">{{ settings.page_blocks.lets_get_you_strated.title }}</h2>
          <p class="lets-get-you-strted--subtitle">{{ settings.page_blocks.lets_get_you_strated.subtitle }}</p>
        </div>
        <div>
          <a href="{{ settings.page_blocks.lets_get_you_strated.cta_url | link }}" class="btn btn--outline btn--width lets-get-you-strted--button">
            {{ settings.page_blocks.lets_get_you_strated.cta_text }}
          </a>
        </div>
      </div>
    </div>
  </section>
  